uwsgi
Django
pillow
six
future
django-formtools
httplib2
django-import-export
tzdata
markdown
django-filter
django-crispy-forms
crispy_bootstrap3
coreapi
django-guardian  
Djangorestframework
mysqlclient
django-cors-headers
djangorestframework-simplejwt
django-simple-captcha
